{% extends "base_administrator.html" %}

{% block title %}Добавить группу{% endblock %}

{% block content %}
<div class="group-form ">
    <form method="POST" action="{{ url_for('add_group') }}">
        {{ form.hidden_tag() }}
        
        <div>
            <label for="group_name">Название группы:</label>
            {{ form.group_name(class="input") }}
        </div>
        <div>
            <button type="submit">Добавить новую группу</button>
        </div>
    </form>
</div>
{% endblock %}
