<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_administrator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/administrator_dasboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register_student.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/register_teacher.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/course.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/group.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/student_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/teachers_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/management.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit_management.css') }}">
    <title>{% block title %}CRM{% endblock %}</title>
</head>
<body>
    <header>
        <h1 class="header-title">VIVACRM</h1>
    </header>

    <div class="container">
        <aside>
            <ul>
              <li><a href="{{ url_for('administrator_dashboard', id=administrator.id) }}" class="nav-link {% if request.endpoint == 'administrator_dashboard' %}active{% endif %}">Профиль</a></li>
              <li><a href="{{ url_for('students_list') }}" class="nav-link {% if request.endpoint == 'students_list' %}active{% endif %}">Список учеников</a></li>
              <li><a href="{{ url_for('teachers_list') }}" class="nav-link {% if request.endpoint == 'teachers_list' %}active{% endif %}">Список преподавателей</a></li>
              <li><a href="{{ url_for('list_courses') }}" class="nav-link {% if request.endpoint == 'list_courses' %}active{% endif %}">Курсы</a></li>
              <li><a href="{{ url_for('list_groups') }}" class="nav-link {% if request.endpoint == 'list_groups' %}active{% endif %}">Группы</a></li>
              <li><a href="{{ url_for('management') }}" class="nav-link {% if request.endpoint == 'management' %}active{% endif %}">Управление учеником</a></li>
            </ul>
          </aside>
          

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; CRM 2024</p>
    </footer>


</body>
</html>
