{% extends "base_administrator.html" %}

{% block content %}
<div class="form-container">
    <div class="management-form-container">
    <form method="POST">
        <!-- Курс -->
        <label for="course_id">Курс:</label>
        <select name="course_id" id="course_id" required>
            <option value="" disabled selected>Выберите курс</option>
            {% for course in courses %}
            <option value="{{ course.id }}" 
                    {% if course.id == current_course_id %}selected{% endif %}>
                {{ course.course_name }}
            </option>
            {% endfor %}
        </select>

        <!-- Группа -->
        <label for="group_id">Группа:</label>
        <select name="group_id" id="group_id" required>
            <option value="" disabled selected>Выберите группу</option>
            {% for group in groups %}
            <option value="{{ group.id }}" 
                    {% if group.id == current_group_id %}selected{% endif %}>
                {{ group.group_name }}
            </option>
            {% endfor %}
        </select>

        <!-- Преподаватель -->
        <label for="teacher_id">Преподаватель:</label>
        <select name="teacher_id" id="teacher_id" required>
            <option value="" disabled selected>Выберите преподавателя</option>
            {% for teacher in teachers %}
            <option value="{{ teacher.id }}" 
                    {% if teacher.id == current_teacher_id %}selected{% endif %}>
                {{ teacher.first_name }} {{ teacher.surname }}
            </option>
            {% endfor %}
        </select>

        <!-- Дата и время начала занятия -->
        <div class="manage-date">
            <label for="startDate" class="form-label">Дата и время начала занятия</label>
            <input type="text" class="form-control flatpickr-input" id="startDate" name="start_date" required>
        </div>

        <!-- Дата и время окончания занятия -->
        <div class="manage-date">
            <label for="endDate" class="form-label">Дата и время окончания занятия</label>
            <input type="text" class="form-control flatpickr-input" id="endDate" name="end_date" required>
        </div>

        <button type="submit" class="add-btn">Сохранить изменения</button>
    </form>

    <a href="{{ url_for('management') }}" class="back-link">Назад</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("#startDate", {
            enableTime: true, // Включает выбор времени
            dateFormat: "Y-m-d H:i", // Формат даты и времени
            time_24hr: true, // 24-часовой формат
        });
        flatpickr("#endDate", {
            enableTime: true, // Включает выбор времени
            dateFormat: "Y-m-d H:i", // Формат даты и времени
            time_24hr: true, // 24-часовой формат
        });
    });
</script>
{% endblock %}
