{% extends "base_administrator.html" %}

{% block content %}
<div class="management-form">
  <h2>Управление студентами</h2>

<table class="student-table">
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Курс</th>
      <th>Группа</th>
      <th>Преподаватель</th>
      <th>Редактировать</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in student_info %}
    <tr>
      <td>{{ entry.student.surname }}</td>
      <td>{{ entry.student.first_name }}</td>
      <td>{{ entry.course.course_name if entry.course else "Не назначен" }}</td>
      <td>{{ entry.group.group_name if entry.group else "Не назначена" }}</td>
      <td>
        {% if entry.teacher %}
          {{ entry.teacher.first_name }} {{ entry.teacher.surname }}
        {% else %}
          Не назначен
        {% endif %}
      </td>
      <td class="actions">
        <a href="{{ url_for('edit_management', id=entry.student.student_id) }}"class="btn-edit"><i class="fa fa-edit"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
      <!-- Пагинация -->
      <div class="pagination">
        {% if student_pagination.has_prev %}
        <a href="{{ url_for('management', page=student_pagination.prev_num) }}">Назад</a>
    {% endif %}
    
    {% for page_num in student_pagination.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
        {% if page_num %}
            {% if page_num == student_pagination.page %}
                <span class="current">{{ page_num }}</span>
            {% else %}
                <a href="{{ url_for('management', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            <span class="ellipsis">…</span>
        {% endif %}
    {% endfor %}
    
    {% if student_pagination.has_next %}
        <a href="{{ url_for('management', page=student_pagination.next_num) }}">Вперёд</a>
    {% endif %}
      </div>
</div>
{% endblock %}
