{% extends "base_administrator.html" %}
{% block title %}Регистрация ученика{% endblock %}
{% block content %}
<div class="register-student-form">
    <h2>Регистрация ученика</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-column">
                <label for="surname">Фамилия:</label>
                {{ form.surname(class="input") }}
            </div>
            <div class="form-column">
                <label for="first_name">Имя:</label>
                {{ form.first_name(class="input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="patronymic">Отчество:</label>
                {{ form.patronymic(class="input") }}
            </div>
            <div class="form-column">
                <label for="email">Email:</label>
                {{ form.email(class="input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="password">Пароль:</label>
                {{ form.password(class="input") }}
            </div>
            <div class="form-column">
                <label for="confirm_password">Подтвердите пароль:</label>
                {{ form.confirm_password(class="input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="birth_date">Дата рождения:</label>
                {{ form.birth_date(class="input") }}
            </div>
            <div class="form-column">
                <label for="phone">Телефон:</label>
                {{ form.phone(class="input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="address">Адрес:</label>
                {{ form.address(class="input") }}
            </div>
        </div>
        <h3>Данные клиента</h3>
        <div class="form-row">
            <div class="form-column">
                <label for="client_name">Имя клиента:</label>
                {{ form.client_name(class="input") }}
            </div>
            <div class="form-column">
                <label for="client_relation">Связь с учеником:</label>
                {{ form.client_relation(class="input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="client_phone">Телефон клиента:</label>
                {{ form.client_phone(class="input") }}
            </div>
            <div class="form-column">
                <label for="client_workplace">Место работы клиента:</label>
                {{ form.client_workplace(class="input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-column">
                <label for="client_position">Должность клиента:</label>
                {{ form.client_position(class="input") }}
            </div>
        </div>
        <button type="submit" class="btn">Зарегистрировать ученика</button>
    </form>
</div>
{% endblock %}
