/* Общие стили для всех форм */
.course-form {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.course-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.add-course-link {
    display: block;
    margin-bottom: 20px;
    text-align: right;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.course-form .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступ между колонками */
    margin-bottom: 20px;
}

.course-form .form-column {
    flex: 1;
    min-width: calc(50% - 10px); /* Два столбца с отступом */
    max-width: 48%;
}

.course-form .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Кнопки */
.course-form button, .course-form .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.course-form button:hover, .course-form .btn:hover {
    background-color: #0056b3;
}

/* Стили для таблицы курсов */
.course-list-table {
    width: 100%;
    border-collapse: collapse;
}

.course-list-table th, .course-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.course-list-table th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

.course-list-table td {
    text-align: left;
}
