/* Стили для формы редактирования */
.form-container {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ccc; /* Добавить границу вокруг календаря */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
    min-height: calc(100vh - 160px);
}

/* Метки */
.form-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

/* Поля ввода и селекты */
.form-container select, 
.form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Кнопка */
.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: auto;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Ссылка "Назад" */
.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

/* Стилизация цены */
.course-price-text {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    color: #555;
}
