/* Стили для формы редактирования */
.form-container {
    width: 100%;
    margin: 0px auto;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ccc; /* Добавить границу вокруг календаря */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
    min-height: calc(100vh - 160px);
}

/* Стили для меток (label) */
.form-container label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

/* Стили для выпадающих списков (select) */
.form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Стили для кнопки */
.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Стили для ссылки "Назад" */
.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.manage-date {
    margin-bottom: 20px; /* Отступ снизу для отделения от других элементов */
}

.manage-date label {
    display: block; /* Метка будет отображаться как блочный элемент */
    font-size: 14px;
    font-weight: bold;
    color: #555; /* Цвет для текста метки */
}

/* Поле ввода даты и времени */
.manage-date input[type="text"] {
    width: 100%; /* Поле растягивается на всю ширину контейнера */
    padding: 10px;
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 4px; /* Закругление углов */
    font-size: 14px; /* Размер шрифта */
    box-sizing: border-box; /* Для правильного расчета ширины с учетом отступов */
    transition: border-color 0.3s ease; /* Плавное изменение цвета границы */
}

.manage-date input[type="text"]:focus {
    border-color: #007bff; /* Цвет границы при фокусе */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Легкое свечение при фокусе */
}