/* Общие стили для списка студентов */
.student-list-container {
    position: relative; /* Контейнер является родителем для позиционирования */
    padding-bottom: 50px;
    width: 100%;
    margin: 0px auto;
    background: #ffffff;
    border: 1px solid #ccc; /* Добавить границу вокруг календаря */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
    padding: 20px; /* Внутренний отступ */
    min-height: calc(100vh - 160px);
}

/* Заголовок списка */
.student-list-container h2 {
    color: #0044cc; /* Темно-синий цвет */
    text-align: center; /* Центрируем текст */
    border-bottom: 2px solid #0044cc; /* Нижняя граница */
    padding-bottom: 10px; /* Отступ от текста до границы */
    font-weight: bold; /* Жирный шрифт */
}

/* Стили для кнопки добавления студента */
.add-student-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.add-student-btn-container a {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-student-btn-container a:hover {
    background-color: #0056b3;
}

.add-student-link {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    color: #555;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

.pagination {
    position: absolute; /* Позиционируем относительно контейнера */
    bottom: 15px; /* Отступ от нижней границы */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Смещаем назад на половину ширины */
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination a, .pagination span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .current {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

