.update-user-form {
    width: 100%;
    margin: 0px auto;
    background: #ffffff;
    border: 1px solid #ccc; /* Добавить границу вокруг календаря */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
    padding: 20px; /* Внутренний отступ */
    min-height: calc(100vh - 160px);
}

.update-user-form h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    color: #007bff;
}

.update-user-form .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 5px;
}

.update-user-form .form-column {
    flex: 1;
    min-width: calc(50% - 10px);
    max-width: 48%;
}

.update-user-form .form-column:last-child {
    margin-right: 0;
}

.update-user-form label {
    display: block;
    margin: 5px 0 5px;
    font-weight: bold;
}

.update-user-form .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Стили кнопки */
.update-user-form .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.update-user-form .btn:hover {
    background-color: #0056b3;
}

.update-user-form .form-row-pass {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.update-user-form .form-column-pass {
    flex: 1;
    margin-right: 10px;
}

.form-column-pass:last-child {
    margin-right: 0;
}

.form-column-pass .input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-user-form .back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.update-user-form .back-link:hover {
    text-decoration: underline;
}